.catalog{
    padding: 160px 15px 200px;
}
.catalog__list {
    @include reset-list;
}
.catalog__list-item{
    flex-basis: 350px;
    margin-right: 30px;
    &:nth-of-type(3n),
    &:last-of-type{
        margin-right: 0;
    }
    &::before{
        display: block;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        margin-bottom: 40px;
        background: #FCB72B no-repeat center center;
        position: relative;
        z-index: 1;
        content: '';
    }
    &--application::before{
        background-image: url('../../img/phone.svg');
    }
    &--scoot::before{
        background-image: url('../../img/scooter.svg');
    }
    &--driver::before{
        background-image: url('../../img/driver.svg');
    }
}
.catalog__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: $spece-mono;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
    margin-bottom: 27px;
}
.catalog__desc {
    margin: 0;
    font-family: "Lexend Deca";
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
