.intro {
    background: url("../../img/intro-bg.jpg") no-repeat center center;
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx){
            background-image: url("../../img/intro-bg@2x.jpg 2x");
    }
}
.intro__content {
    padding: 153px 0;
}
.intro__slogan {
    max-width: 500px;
    margin: 0;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-family: "Space Mono", "Arial", sans-serif;
    font-size: 56px;
    line-height: 1;
    letter-spacing: -2.5px;
    color: #FFFFFF;
    }
.intro__desc {
    position: relative;
    max-width: 450px;
    margin: 0;
    margin-bottom: 54px;
    margin-left: 95px;
    font-family: "Lexend Deca", "Arial", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    &::before{
        position: absolute;
        width: 202px;
        border: 5px solid #FCB72B;
        background-color: #FCB72B;
        content: '';
        top: 45%;
        right: calc(100% + 50px);
    }
    &::after{
        position: absolute;
        width: 447px;
        height: 138px;
        background: url("../../img/arrow.svg") no-repeat center center;
        content: "";
        top: 45%;
        left: calc(100% + 40px);
    }
}

.intro__main-link{
    margin-left: 95px;
}

@media only screen and(max-width:$tablet){
    .intro{
        background: url("../../img/intro-bg-tablet.jpg") no-repeat  center center;
        background-size: contain;
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx){
                background-image: url("../../img/intro-bg-tablet@2x.jpg");
        }
    }
    .intro__content{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:   115px; 
        padding-bottom: 179px ;
        text-align: center;
        &::before{
            position: absolute;
            width: 447px;
            height: 138px;
            background: url('../../img/arrow-tablet.svg') no-repeat center center;
            content: '';
            top: 70%;
            right: 60%;
        }
    }
    .intro__slogan{
        max-width: 373px;
        font-size: 40px;
        text-align: center;
        letter-spacing: -1.78571px;
        margin-bottom: 24px;
    }
    .intro__desc{
        max-width: 573px;
        margin: 0;
        margin-bottom: 46px;
        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
    }
    .intro__main-link{
        margin-left: 0;
    }
}

@media only screen and (max-width:$mobile){
    .intro{
        background: url('../../img/intro-bg-mobile.jpg') no-repeat center center;
        @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx){
            background-image: url("../../img/intro-bg-mobile@2x.jpg 2x");
    }
    }

    .intro__content::before{
        top:75%;
        right: 75%;
    }
}
