.main__link  {
    width: fit-content;
    padding: 14px 39px;
    background-color: #FCB72B;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: 3px solid #FCB72B;
    transition: 0.3s ease all;
    &:hover{
        color: #FCB72B;
        background-color: transparent;
    }
}
